<ion-content padding scroll="false">
  <ion-card>
      <img src="./assets/icon/incident-icon.png" style="width: 150px; height:auto; margin: 0 auto" > 
      <ion-card-content>
        <p class="text-center" style="color: #222; font-size: 30px; text-align:center">Incidentz</p>
       
      </ion-card-content>
  </ion-card>

  <div >
    <form [formGroup]="_loginForm">
      <ion-list>
        <ion-item *ngIf="!_response.valid" class="text-center">
            <p class="error">{{_response.msg}}</p>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
        </ion-item>
        <ion-item *ngIf="_loginForm.controls.username.errors?.required  && (_loginForm.controls.username.dirty || _formSubmit)">
            <p class="error"> Username is required.</p>
        </ion-item>
        <ion-item>
          <ion-input type="password"  formControlName="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item *ngIf="_loginForm.controls.password.errors?.required && (_loginForm.controls.password.dirty || _formSubmit)">
            <p class="error">Password is required</p>
          </ion-item>
      </ion-list>
    </form>

    <button ion-button color="primary" full (tap)="login()" [disabled]="_isFetching" icon-left>
      <ion-icon name="logo-in" ></ion-icon>LOGIN <ion-spinner style="text-align:center !important" *ngIf="_isFetching"></ion-spinner>
    </button>

    <button ion-button  full color="danger"  (tap)="signUp()">
       Sign Up
    </button>
  </div>
 
</ion-content>
